.root {
  display: grid;
  grid-template-columns: 210px 30px;
  margin-top: 20px;
  overflow: hidden;
  font-weight: 600;
}

.content {
  padding: 12px 12px 12px 20px;
  font-size: 14px;
}

.button {
  --border-radius: 0;

  padding: 0;
  background: transparent;
  border-left: 0.1px solid var(--base-ui-black);
}
