@media (--mobile) {
  .container {
    display: none;

    &.--is-open {
      display: block;
    }
  }
}

.float {
  position: fixed;
  right: var(--unit-x7);
  bottom: var(--unit-x7);
  z-index: 100;
  display: none;

  @media (--mobile) {
    display: block;
  }
}

.float_button {
  display: flex;
  align-items: center;
  padding: var(--unit-x4);
  background: var(--base-panel);
  backdrop-filter: blur(5px);

  &::before {
    display: block;
    width: 25px;
    height: 25px;
    content: '';
    background-color: var(--base-text);
    background-size: 100%;
    mask-image: url(/icons/menu.svg);
  }

  @media (prefers-color-scheme: dark) {
    &::before {
      background-color: var(--base-white);
    }
  }

  &.--is-open::before {
    mask-image: url(/icons/x.svg);
  }
}
