.root {
  --border-radius: 0;
  --distance: 8px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: var(--width-nav);
  background: var(--base-panel);

  @media (--mobile) {
    width: 100%;
    backdrop-filter: blur(22px);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--unit-x5) var(--unit-x4);
  margin: 0;
  overflow: hidden;
  text-align: center;
  list-style: none;

  &:hover,
  &:focus {
    overflow-y: auto;
  }

  @media (--mobile) {
    /* Float padding + Float button + Gap */
    padding-bottom: calc(var(--unit-x7) + var(--unit-x5) + 55px);
  }

  & > li:not(:first-child) {
    margin-top: 5px;
  }
}

.menu_home {
  --border-radius: var(--base-border-r);

  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--base-text);
  text-transform: uppercase;
  border-radius: var(--base-border-r);

  &:hover,
  &:focus {
    color: var(--base-accent);
  }
}

.menu_link {
  --distance: 4px;
  --border-radius: calc(var(--base-border-r) / 2);

  display: block;
  padding: var(--unit-x2);
  color: var(--base-text);
}

.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  color: var(--base-text);

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.profile_name {
  font-weight: 600;
  word-break: break-all;
}
