.root {
  --border-radius: 0;
  --distance: 8px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 15px;
  overflow: hidden;
  text-align: center;
  background-color: var(--base-panel);

  &:hover,
  &:focus {
    overflow-y: auto;
  }

  @media (--mobile) {
    width: 100%;
    padding-bottom: 80px;
    background: transparent;
    backdrop-filter: blur(15px);
  }
}

.logo {
  --border-radius: var(--base-border-r);

  padding-bottom: 10px;
  font-weight: 600;
  color: var(--base-text);
  text-transform: uppercase;
  border-radius: var(--base-border-r);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  & > picture {
    margin-right: 5px;
  }

  @media (--mobile) {
    justify-content: center;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    margin-top: 5px;
  }

  @media (--mobile) {
    text-align: center;
  }
}

.list_link {
  --distance: 4px;
  --border-radius: calc(var(--base-border-r) / 2);

  display: block;
  padding: 8px 10px 8px;
  color: var(--base-text);

  @media (--mobile) {
    padding-left: 10px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  color: var(--base-text);

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.profile_avatar {
  border-radius: 50%;
}

.profile_name {
  font-weight: 600;
  word-break: break-all;
}
