.root {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 50vh 20px 20px;
  margin: 0 auto;
}

.group_buttons {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: center;
  width: 100%;
}

.button_opening-settings {
  display: flex;
  align-items: center;
}

.button_opening-settings::before {
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  background-color: var(--base-text);
  background-size: 100%;
  mask-image: url(/icons/settings.svg);
}
