.root {
  display: grid;
  row-gap: var(--unit-x6);
  width: 100%;
  max-width: 500px;
  padding: 50vh var(--base-card-padding);
  margin: 0 auto;
}

.group_buttons {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  column-gap: var(--unit-x5);
  justify-content: center;
  width: 100%;
}

.button_opening-settings {
  display: flex;
  align-items: center;
}

.button_opening-settings::before {
  display: block;
  width: var(--unit-x5);
  height: var(--unit-x5);
  content: '';
  background-color: var(--base-text);
  background-size: 100%;
  mask-image: url(/icons/settings.svg);
}
