.list-auth-types {
  display: grid;
  row-gap: var(--unit-x6);
  max-width: 400px;
  height: 100%;
  padding: var(--unit-x5);
  margin: auto;
  list-style: none;
}

.hr {
  width: 30px;
  margin: 0 auto;
}

.button {
  display: grid;
  grid-template-columns: 23px auto;
  column-gap: var(--unit-x3);
  align-items: center;
  justify-content: start;
}

.button::before {
  width: 23px;
  height: 23px;
  content: '';
  background-repeat: no-repeat;

  @media (--mobile) {
    width: 21px;
    height: 21px;
  }
}

.button_google::before {
  background-image: url(/icons/google-logo-light.svg);
}

.button_twitter::before {
  background-image: url(/icons/twitter-logo-blue.svg);
}

.button_email::before {
  background-color: var(--base-text);
  mask-image: url(/icons/mail.svg);
}

.link_create-account {
  display: block;
  font-size: 14px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
