.reset_button {
  display: inline-block;
  padding: var(--unit-x3) var(--unit-x5);
  font-weight: 600;
  color: var(--base-text);
  text-align: center;
  cursor: pointer;
  border: none;
}

.reset_button:disabled,
.reset_button.disabled {
  cursor: not-allowed;
}

.color_button {
  color: var(--color-text);
  background-color: var(--color);
  border-radius: var(--base-border-r);
  box-shadow: 0 0 10px -2px var(--color);

  &:disabled,
  &.disabled {
    filter: grayscale(20%);
  }

  &:not(:disabled):not(.disabled) {
    &:hover,
    &:focus {
      opacity: 0.85;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.button_accent {
  --color: var(--base-accent);
  --color-text: var(--base-white);
}

.button_danger {
  --color: var(--base-red);
  --color-text: var(--base-white);
}
