.button,
.button_accent {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--base-text);
  cursor: pointer;
  border: none;
}

.button:disabled,
.button.disabled {
  cursor: not-allowed;
}

.button_accent {
  --background-color: var(--base-accent);

  font-size: var(--base-h5);
  color: var(--base-ui-white);
  background-color: var(--background-color);
  border-radius: calc(var(--base-border-r) / 2);
  box-shadow: 0 0 10px -2px var(--background-color);

  &:hover,
  &:focus {
    --background-color: var(--base-hover);
  }

  &:active {
    transform: translateY(1px);
  }
}
