.reset_button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--base-text);
  cursor: pointer;
  border: none;
}

.reset_button:disabled,
.reset_button.disabled {
  cursor: not-allowed;
}

.color_button {
  color: var(--color-text);
  background-color: var(--color);
  border-radius: calc(var(--base-border-r) / 2);
  box-shadow: 0 0 10px -2px var(--color);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
  }
}

.button_accent {
  --color: var(--base-accent);
  --color-text: var(--base-white);
}

.button_danger {
  --color: var(--base-red);
  --color-text: var(--base-white);
}
