.error {
  display: block;
  padding: var(--unit-1);
  font-size: 14px;
  font-weight: 600;
  color: var(--base-red);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list:focus {
  outline: none;
  box-shadow: none;
}

.list_item::before {
  margin-right: var(--unit-x1);
  content: "-";
}
