.error {
  display: block;
  padding: 5px;
  font-size: var(--base-unit);
  font-weight: 600;
  color: var(--base-red);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list:focus {
  outline: none;
  box-shadow: none;
}

.list_item::before {
  margin-right: 5px;
  content: "-";
}
