.check {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.check_input {
  --border-radius: 50%;

  position: relative;
  appearance: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.check_input::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8em;
  height: 0.8em;
  content: '';
  border: 0.1em solid var(--dark);
  border-radius: 50%;
  transition: all 0.1s;
  transform: translate(-50%, -50%);

  @media (prefers-color-scheme: dark) {
    border-color: var(--base-white);
  }
}

/*
  * Checked
 */

.check_input:checked::before {
  background-color: var(--dark);

  @media (prefers-color-scheme: dark) {
    background-color: var(--base-white);
  }
}

/*
  * Disabled
 */

.check_input:disabled::before {
  opacity: 0.5;
}

.check_input:disabled {
  cursor: not-allowed;
}
