.layout_main {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: var(--unit-x6);
  align-content: center;
  justify-content: center;
  padding: var(--unit-x5);
}

.card {
  display: grid;
  row-gap: var(--unit-x3);
  width: 100%;
  max-width: 700px;
  padding: var(--base-card-padding);
}
