.created-url_container {
  padding: 20px;
  margin: auto;
}

.created-url_card {
  width: 100%;
  max-width: 700px;
  padding: 20px 25px;

  &:not(:first-child) {
    margin-top: 35px;
  }
}

.created-url_button-heading {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.1s;

  &:hover,
  &:focus {
    color: var(--base-accent);
  }
}

.created-url_heading {
  margin-bottom: 5px;
}

.created-url_button-original-url {
  width: 100%;
  padding: 10px 0 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--base-accent);
  }
}

.statistics-created-url_list,
.management-created-url_list {
  padding-left: 0;
  list-style: none;
}

.management-created-url_list {
  display: grid;
  grid-gap: 15px;
  margin-top: 10px;
}

.management-created-url_group-buttons {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}
