.created-url_container {
  display: grid;
  row-gap: 40px;
  grid-template-rows: repeat(3, min-content);
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.created-url_card {
  display: grid;
  row-gap: 15px;
  width: 100%;
  max-width: 700px;
  padding: 20px 25px;
}

.main-data-created-url_button-heading {
  color: inherit;
  word-break: break-all;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color 0.1s;

  &:hover,
  &:focus {
    color: var(--base-accent);
  }
}

.main-data-created-url_button-original-url {
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  transition: color 0.1s;

  &:hover,
  &:focus {
    color: var(--base-accent);
  }
}

.statistics-created-url_list,
.management-created-url_list {
  padding-left: 0;
  list-style: none;
}

.management-created-url_list {
  display: grid;
  row-gap: 30px;
}

.management-created-url_group-buttons {
  display: grid;
  row-gap: 20px;
}
