.root {
  padding-left: 300px;

  @media (--mobile) {
    padding-left: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  @media (--mobile) {
    /*
      * In order not to overlap the menu button
    */
    padding-bottom: 70px;
  }
}
