.root {
  padding-left: calc(var(--width-nav) + var(--unit-x10));

  @media (--mobile) {
    padding-left: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  @media (--mobile) {
    /*
      * In order not to overlap the menu button.
      * Float padding + Float button + Gap.
    */
    padding-bottom: calc(var(--unit-x7) + var(--unit-x5) + 55px);
  }
}
