.form {
  width: 100%;
  max-width: 500px;
  padding: 50vh 20px 20px;
  margin: 0 auto;
}

.form_buttons {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.list-created-links {
  display: grid;
  grid-gap: 20px;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;

  @media (--mobile) {
    padding-top: 0;
  }
}

.created-link {
  position: relative;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  color: var(--base-text);
  text-align: left;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.created-link_original-url {
  overflow: hidden;
  font-size: var(--base-h6);
  text-overflow: ellipsis;
  white-space: nowrap;
}
