.nav {
  --border-radius: 0;
  --distance: 8px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 10px;
  overflow: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
  }
}

.nav_home {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-weight: 600;
  color: var(--base-text);
  text-transform: uppercase;
  border-radius: var(--base-border-r);

  &:hover,
  &:focus {
    & > span {
      background-color: var(--base-hover);
    }
  }

  & > picture {
    margin-right: 5px;
  }
}

.nav_heading {
  display: flex;
  align-items: center;
  padding: 20px 0 0;
  font-size: var(--base-h4);
  font-weight: 600;
}

.heading_account::before {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  content: '';
  background-color: var(--base-text);
  background-size: 100%;
  mask-image: url(/icons/user.svg);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    margin-top: 5px;
  }
}

.list_link {
  --distance: 4px;
  --border-radius: calc(var(--base-border-r) / 2);

  display: block;
  padding: 8px 10px 8px 28px;
  font-size: var(--base-h5);
  color: var(--base-text);
}

.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  color: var(--base-text);

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.avatar_container {
  --border-radius: 50%;

  padding: 10px;
}

.profile_avatar {
  border-radius: 50%;
}

.profile_no-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: var(--base-h3);
  font-weight: 600;
  text-transform: uppercase;
}

.profile_username {
  font-weight: 600;
  text-align: center;
}
