.menu {
  --border-radius: 0;
  --distance: 8px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 15px 8px;
  overflow: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
  }
}

.menu_home {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--base-text);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--base-accent);
  }

  & svg {
    margin-right: 5px;
  }
}

.menu_heading {
  display: flex;
  align-items: center;
  padding: 20px 0 0;
  font-size: var(--base-h4);
  font-weight: 600;

  & svg {
    margin-right: 5px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    margin-top: 5px;
  }
}

.list_link {
  --distance: 4px;
  --border-radius: calc(var(--base-border-r) / 2);

  display: block;
  padding: 8px 10px 8px 28px;
  font-size: var(--base-h5);
  color: var(--base-text);
}

.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  color: var(--base-text);

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.profile_avatar {
  filter: grayscale(100%);
  border-radius: 50%;
}

.profile_username {
  font-weight: 600;
  text-align: center;
}
