.card {
  display: grid;
  row-gap: var(--unit-x3);
  width: 100%;
  padding: var(--base-card-padding);
  font-size: var(--base-h3);
  font-weight: normal;
  color: var(--base-text);
}

.card_heading {
  display: inline-block;
  line-height: normal;
  word-break: break-all;

  @media (max-width: 500px) {
    font-size: initial;
  }
}

.card_original-url {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
