.root {
  display: grid;
  grid-template-columns: auto minmax(150px, 1fr) min-content;
  column-gap: var(--unit-x6);
  align-items: center;
  justify-content: center;

  @media (--mobile) {
    row-gap: var(--unit-x4);
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
  }
}

.avatar-container {
  margin: 0 auto;
}

.current-user-name {
  word-break: break-all;
}
