.delete-account_container {
  padding: var(--unit-x5);
  margin: auto;
}

.delete-account-card {
  display: grid;
  grid-gap: var(--unit-x3);
  width: 100%;
  max-width: 500px;
  padding: var(--base-card-padding);
}

.delete-account-card_heading {
  line-height: normal;
}

.delete-account_confirm-form {
  display: grid;
  row-gap: var(--unit-x6);
  margin-top: var(--unit-x2);
}
