.layout_main {
  padding: var(--unit-x5);
}

.root {
  display: grid;
  row-gap: var(--unit-x6);
  max-width: 600px;
  padding: var(--base-card-padding);
  margin: auto;
  text-align: center;
}

.title {
  font-size: var(--base-h2);
}
