
/*
* vars
*/
:root {
  --base-black: #566c83;
  --base-gray: #afb7c1;
  --base-red: #bd143b;
  --base-text: var(--base-black);
  --base-title: var(--base-black);
  --base-background: #e0e5ec;
  --base-border: #abb7c7;
  --base-accent: #64b5f6;
  --base-light-accent: #a1d2f9;
  --base-hover: #8bcafd;
  --base-focus: 0 0 0 3px var(--base-accent);
  --base-disabled: #5693c3;
  --base-ui-black: #bec3c9;
  --base-ui-white: #fff;
  --base-ui-gradient-gray: #caced4;
  --base-ui-gradient-light-gray: #f0f5fd;
  --base-gradient:
    linear-gradient(
      90deg,
      var(--base-light-accent),
      var(--base-accent)
    );

  /* typography */
  --base-unit: 0.8rem;
  --base-code-fs: 1.3rem;
  --base-h6: 1.4rem;
  --base-h5: 1.6rem;
  --base-h4: 1.8rem; /* default font-size */
  --base-h3: 2.6rem;
  --base-h2: 3rem;
  --base-h1: 3.2rem;
  --base-linemax: 42em; /* max line-length */
  --base-lh: 1.5; /* base line-height */
  --base-lh-article: 1.6;

  /* border */
  --base-border-w: 0.15rem; /* border-width  */
  --base-border-r: 2rem;

  /* navigation */
  --width-nav: 200px;
}

@custom-media --mobile (max-width: 940px);
@custom-media --no-mobile (min-width: 941px);

body {
  --font: 'Open Sans', sans-serif;
  --font-system:
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    oxygen-sans,
    ubuntu,
    cantarell,
    'Helvetica Neue',
    sans-serif;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font: 400 var(--base-h4) / var(--base-lh) var(--font);
  color: var(--base-text);
  background-color: var(--base-background);
}

/*  fonts ----------------------------- */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Open Sans Light'),
    local('OpenSans-Light'),
    url('/fonts/open-sans-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    local('Open Sans Light Italic'),
    local('OpenSans-LightItalic'),
    url('/fonts/open-sans-300italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('/fonts/open-sans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('/fonts/open-sans-400italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('/fonts/open-sans-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Open Sans SemiBold Italic'),
    local('OpenSans-SemiBoldItalic'),
    url('/fonts/open-sans-600italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('/fonts/open-sans-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans Bold Italic'),
    local('OpenSans-BoldItalic'),
    url('/fonts/open-sans-700italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local('Open Sans ExtraBold'),
    local('OpenSans-ExtraBold'),
    url('/fonts/open-sans-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src:
    local('Open Sans ExtraBold Italic'),
    local('OpenSans-ExtraBoldItalic'),
    url('/fonts/open-sans-800italic.woff2') format('woff2');
}

/*  base reset ------------------------ */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

mark {
  padding: 0 3px;
  background: var(--base-light-accent);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/*
-----------------------------------------------
	global styles
-----------------------------------------------
*/

/*	typography ----------------------------- */
h6 {
  font-size: var(--base-h6);
}

h5 {
  font-size: var(--base-h5);
}

h4 {
  font-size: var(--base-h4);
}

h3 {
  font-size: var(--base-h3);
}

h2 {
  font-size: var(--base-h2);
}

h1 {
  font-size: var(--base-h1);
}

::selection {
  color: var(--base-text);
  text-shadow: none;
  background-color: var(--base-light-accent);
}

/*	ui ------------------------------------- */

.flat,
.flat_hover:hover,
.flat_hover:focus,
.flat_active:active {
  background: var(--base-background);
  border-radius: var(--border-radius, var(--base-border-r));
  box-shadow:
    var(--distance, 5px) var(--distance, 5px)
    calc(var(--distance, 5px) * 2) var(--base-ui-black),
    calc(var(--distance, 5px) * -1) calc(var(--distance, 5px) * -1)
    calc(var(--distance, 5px) * 2) var(--base-ui-white);
}

.concave,
.concave_hover:hover,
.concave_hover:focus,
.concave_active:active {
  background:
    linear-gradient(
      145deg,
      var(--base-ui-gradient-gray),
      var(--base-ui-gradient-light-gray)
    );
  border-radius: var(--border-radius, var(--base-border-r));
  box-shadow:
    var(--distance, 5px) var(--distance, 5px)
    calc(var(--distance, 5px) * 2) var(--base-ui-black),
    calc(var(--distance, 5px) * -1) calc(var(--distance, 5px) * -1)
    calc(var(--distance, 5px) * 2) var(--base-ui-white);
}

.convex,
.convex_hover:hover,
.convex_hover:focus,
.convex_active:active {
  background:
    linear-gradient(
      145deg,
      var(--base-ui-gradient-light-gray),
      var(--base-ui-gradient-gray)
    );
  border-radius: var(--border-radius, var(--base-border-r));
  box-shadow:
    var(--distance, 5px) var(--distance, 5px)
    calc(var(--distance, 5px) * 2) var(--base-ui-black),
    calc(var(--distance, 5px) * -1) calc(var(--distance, 5px) * -1)
    calc(var(--distance, 5px) * 2) var(--base-ui-white);
}

.pressed,
.pressed_hover:hover,
.pressed_hover:focus,
.pressed_active:active {
  background: var(--base-background);
  border-radius: var(--border-radius, var(--base-border-r));
  box-shadow:
    inset var(--distance, 5px) var(--distance, 5px)
    calc(var(--distance, 5px) * 2) var(--base-ui-black),
    inset calc(var(--distance, 5px) * -1) calc(var(--distance, 5px) * -1)
    calc(var(--distance, 5px) * 2) var(--base-ui-white);
}

/*  hr ------------------------------------- */
hr {
  width: 100%;
  height: 1px;
  background: var(--base-border);
  border: none;
}
