.input {
  width: 100%;
  padding: var(--unit-x3) var(--unit-x5);
  appearance: none;
  font-weight: 600;
  color: var(--base-text);
  border: none;
}

.label {
  display: block;
  padding: 0 0 var(--unit-x2);
  font-weight: 600;
}
